$color-navy-main: #005bac;   // 画像の鮮やかなネイビー
$color-navy-dark: #003a70;   // フッターや深い部分
$color-text-title: #333333;  // タイトル文字
$color-text-body: #666666;   // 本文のグレー
$color-white: #ffffff;      // 白
$color-bg-light: #f4f7f9;    // 薄いグレーの背景
$color-navy: #5b5d5e;

$spacing-section: 100px;     // セクション間の余白