@use "./variables" as *;


.loaderContainer {
  position: fixed;
  height: 100vh;
  inset: 0;
  z-index: 99999;
  display: flex; // パネルを横並びにする
  pointer-events: none; // クリックを透過させる

  .loaderPanel {
    flex: 1; // 画面幅を均等に分ける
    height: 100%;
    background-color: $color-white;
    width: 100.5%; 
  }
}

.hero {
  height: 100vh;
  background-color: $color-main;
  display: flex;
  align-items: center; // 上下中央
  overflow: hidden; // 重要：はみ出た文字を隠す
  position: relative;
}

.container {
  width: 100%;
  position: relative;
  
  .marqueeInner {
    display: inline-block;
    white-space: nowrap; // 改行させない
    will-change: transform; // アニメーションを滑らかにする
    
    .mainTitle {
      display: inline-block;
      // 画面幅に合わせて文字サイズを動的に変える（最重要）
      font-size: clamp(30rem, 15vw, 10rem);
      opacity: 1;
      font-weight: 900;
      color: #fff;
      letter-spacing: -0.02em; // 少し詰めるとモダンに
      line-height: 0.9;
      
      .char {
        display: inline-block;
      }
    }
  }
}

