@import "variables";

.section {
  padding: $spacing-section 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  // 偶数番目のセクションは左右反転させる
  &:nth-child(even) {
    flex-direction: row-reverse;
  }

  .textContent {
    width: 45%;
    .subTitle {
      color: #ccc;
      font-size: 0.9rem;
      letter-spacing: 0.1em;
    }
    .mainTitle {
      color: $color-navy-main;
      font-size: 2rem;
      margin-bottom: 20px;
      position: relative;
      
      // タイトルの下の青い線
      &::after {
        content: "";
        display: block;
        width: 40px;
        height: 2px;
        background: $color-navy-main;
        margin-top: 10px;
      }
    }
  }

  .imageContent {
    width: 50%;
    img {
      width: 100%;
      box-shadow: 20px 20px 0px $color-navy-main; // 画像の後ろに青いボックスを置くスタイル
    }
  }
}